[user]
	email = daniel.chiquito@gmail.com
	name = Daniel Chiquito
[core]
	excludesfile = /home/daniel/.gitignore
	editor = vi
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
